<div class="container mx-auto bg-gray-100 p-12 px-36">
  <div class="relative flex justify-center items-center">
    <%= image_tag("shisha.jpg", class: "w-960 h-480 object-cover rounded-xl") %>
    <div class="absolute inset-0 bg-opacity-50 flex flex-col justify-center items-center text-white">
    </div>
  </div>

<!-- app/views/shops/show.html.erb -->

<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl mb-6 pt-7">店舗情報</h1>

  <div class="bg-white shadow-md rounded-xl p-6">
    <div class="items-center mb-4 grid grid-cols-1 gap-6">
      <div>
        <p class="mb-2">店舗名</p>
        <p><%= @shop.title %></p>
      </div>

      <hr class="col-span-full my-2">

      <div>
        <p class="mb-2">利用用途</p>
        <p><%= @shop.scene %></p>
      </div>

      <hr class="col-span-full my-2">

      <div>
        <p class="mb-2">予算</p>
        <p><%= @shop.budget %>円</p>
        <p>詳細記載予定</p>
      </div>

      <hr class="col-span-full my-2">

      <div>
        <%# <i class="fas fa-phone text-gray-500 mr-2"></i> %>
        <p class="mb-2">電話番号</p>
        <p><%= @shop.shop_number %></p>
        <%# <p class="text-sm text-gray-500 mt-1">※電話予約の場合は</p> %>
      </div>

      <hr class="col-span-full my-2">

      <div>
        <p class="mb-2">エリア</p>
        <p><%= @shop.area %></p>
      </div>

      <hr class="col-span-full my-2">

      <div>
        <p class="mb-2">営業時間</p>
        <p><%= @shop.opening_hours %></p>
      </div>

      <hr class="col-span-full my-2">

      <div>
        <p class="mb-2">アクセス</p>
        <p>GoogleMap予定</p>
      </div>

      <hr class="col-span-full my-2">

      <div>
        <p class="mb-2">タグ</p>
        <p>タグ付け予定</p>
      </div>

        <%# <hr class="col-span-full my-2"> %>
    </div>
  </div>
</div>